$color-1: #fffef7;
$color-2: #4ecdc4;
$color-3: #ffe66d;
$color-4: #ff6b6b;
$color-5: #292f36;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@keyframes loading {
    0% {
        color: $color-5;
        transform: scale(1);
    }

    50% {
        color: transparentize($color-5, 0.5);
        transform: scale(1.2);
    }

    0% {
        color: $color-5;
        transform: scale(1);
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) {
      @content;
    }
}